---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="about_header">
   <h2>A GOOD CASE</h2>
   <h1>GET TO KNOW US</h1>
  </div>

    <section class="grid_layout_about">
      <div>
       <h2>FREMTIDEN ER GYLDEN</h2>
       <p>Gylden som øl. Hvis vi står sammen på tværs af brancher og tager mere klimavenlige valg. Store som små. Den grønne omstilling og arbejdet med ESG udfordrer os alle, men vi rykker os kun, hvis vi handler.  I A Good Case er vi specialiseret i at redde specialøl. Vi er bryggeriernes sikkerhedsnet og det naturlige bindeled mellem bryggerierne og dig, der sætter pris på kvalitetsøl til en konkurrencedygtig pris. Når du handler online hos A Good Case er du med til at støtte den bæredygtige tankegang, der er hele grundlaget i vores forretning: At redde øllet, inden best before-datoen.</p>
      </div>
      <img src="/assets/mand-med-oel.jpg" alt="Billede af mand med forskellige øl i hånden" />
    </section>
    <section class="grid_layout_about image-below-text-mobile">
      <img src="/assets/billede-af-oelsortiment.jpg" alt="Billede af et øl sortiment">
      <div>
       <h2>TIL GAVN FOR KLIMAET</h2>
       <p>For faktum er, at bryggerierne fra tid til anden ender med partier af øl, de ikke kan sælge. Måske er der et restparti tilbage af en sæsonøl, måske er et parti øl tæt på udløbsdatoen, der er kommet en fejl på etikken eller en bule, eller en køber er sprunget fra. Fælles for de nævnte scenarier er, at øllet naturligvis ikke fejler noget.   På den måde undgår bryggerierne at hælde øllet ud, når det rammer best before-datoen – derved undgås unødigt spild af vand og CO2, der er brugt i produktionen. </p>
      </div>

    </section>


    <section class="Skiftende_sortiment">
    <div><h2>SKIFTENDE SORTIMENT - SAMME KVALITET</h2></div>
     <p>I A Good Case har vi et alsidigt sortiment af lækre specialøl fra ind- og udland, som alle har det til fælles, at de venter på at blive reddet inden best before-datoen. Vores mission er derfor: LESS WASTE - GREAT TASTE.  I vores udvalg har vi altid fokus på den høje kvalitet, som mikrobryggerierne kan levere. Vi bestræber os på at indkøbe øl til enhver smag, pengepung og med forskellige alkoholprocenter. Vi indkøber kun øl, der skal reddes. Derfor er vores sortiment ikke fast, og du kan altid opleve nye, spændende øl, når du handler hos os. Siden starten har vi reddet mere end 1 mio. øl fra at gå til spilde.</p>
    </section>
    <section class="grid_layout_about">
      <div>
       <h2>HVEM ER VI?</h2>
       <p>A Good Case blev grundlagt af vennerne Jesper, Mads og Mads tilbage i 2020, der i dag alle er partnere i virksomheden. I alt er vi fem ansatte. Vi ansætter løbende praktikanter og samarbejder med Brøndby Kommune omkring fleksjobbere, da vi gerne vil bidrage til, at alle får en ny chance i arbejdslivet.  Vi holder til i Brøndby, hvor vi har tusindvis af øl på lager, vi står klar til at pakke og sende ud i hele Danmark. Vi sælger et kurateret udvalg i vores fysiske lagersalg. </p>
      </div>
        <img src="/assets/agoodcaseteam.jpg" alt="et billede af mændene bag a good case">
    </section>
  
</Layout>

<style>
.about_header {
    left: 2rem;
    top: 25%;
    z-index: 2;
    color: white;
  }

  .about_header h2 {
    margin: 0 0 1rem 4rem;
    font-size: 5rem;
    font-weight: 700;
    color: #F5F5F5;
  }

  .about_header h1 {
    margin: 0 0 2rem 4rem;
    font-size: 7rem;
    line-height: 0.95;
    font-weight: 800;
    max-width: 17ch;
    margin-bottom: 60px;
  }


.grid_layout_about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 7rem;

}
.grid_layout_about img {
  width: 100%;
  height: auto;
}

.Skiftende_sortiment {

  margin: 0 auto;
  margin-bottom: 7rem;
  border: 1px solid #FFD4F0;
  padding: 50px;
  background-color: #FFD4F0;
}

div h2{
font-size: 38px;
  margin-bottom: 30px;
  color: #16332D;
}

div p{
  line-height: 2.0;
  color: #16332D;
}

section p{
  line-height: 2.0;
  color: #16332D;
}


.about_header {
  margin-bottom: 6rem;
  color: white; 
  border: 1px solid #16332D;
  padding: 50px;
  border-top: 100px solid #16332D;
  background-color: #16332D;

}

@media (max-width: 800px) {
  .grid_layout_about {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    text-align: left;
    margin: 30px;
  }
  .Skiftende_sortiment {
    padding: 20px;
  }
  .about_header {
    padding: 20px;
    border-top: 50px solid #16332D;
  }
 
  .about_header h1 {
    font-size: 3rem;
    margin: 0 0 1rem 0;  
  }

    .about_header h2 {
    font-size: 2rem;
    margin: 0 0 1rem 0;   
  }

  div p{
  line-height: 1.5;
}

section p{
  line-height: 1.5;
}

.Skiftende_sortiment{
margin-bottom: 1rem;

}

.about_header{
margin-bottom: 1rem;
}
  .grid_layout_about{
    max-width: 393px;
    margin 0 auto;
  }

  .grid_layout_about.image-below-text-mobile img { order: 2; }
  .grid_layout_about.image-below-text-mobile div { order: 1; }
}
</style>