---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Sale from "../components/Sale.astro";
---

<Layout>
 
  <h2>Forside</h2>
  <h2>A GOOD CASE</h2>
  <h1>EVEN BETTER TASTE</h1>
  <Button text="FIND DIN ØL HER" variant="findoel" />
   <Button text="LAV DIN EGEN KASSE HER" variant="findoel-green" />
   <Button text="SE ALLE NYHEDER" variant="primaery-btn" />
  <Button text="LÆS MERE HER" variant="primaery-btn" />
  <Button text="SE DEM HER" variant="primaery-btn-green" />
   <Button text="VÆLG ANTAL" variant="vaelg-antal" />
    <Button text="LÆG I KURV" variant="laeg-i-kurv" />


<Sale />
</Layout>


