---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Sale from "../components/Sale.astro";
import Hero from "../components/Hero.astro";
import Nyheder from "../components/Nyheder.astro";
import Banner from "../components/Banner.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";

const endpoint = "https://tugawxiltrjylrrkyipn.supabase.co/rest/v1/products";
const options = {
  headers: {
    apikey: "sb_publishable__6zAgnY-J0PumwueqpD5qA_eF8nRnHo",
  },
};

const data = await fetch(endpoint, options).then((res) => res.json());
---

<Layout heroOverlay={true}>
  <Hero />

  <section class="nyheder-section">
    <h3 class="nyheder-title">Nyheder</h3>
    <section class="nyheder-row">
      {data.map((product) => <Nyheder product={product} />)}
    </section>
    <div class="allenyhederknap">
    <Button text="SE ALLE NYHEDER" variant="primaery-btn" href="/productlist"/>
    </div>
  </section>

  <main>
    <Sale />
    <section class="grid_layout_about">
      <div>
        <h2>HVEM ER VI?</h2>
        <p>
          A Good Case blev grundlagt af vennerne Jesper, Mads og Mads tilbage i
          2020, der i dag alle er partnere i virksomheden. I alt er vi fem
          ansatte. Vi ansætter løbende praktikanter og samarbejder med Brøndby
          Kommune omkring fleksjobbere, da vi gerne vil bidrage til, at alle får
          en ny chance i arbejdslivet. Vi holder til i Brøndby, hvor vi har
          tusindvis af øl på lager, vi står klar til at pakke og sende ud i hele
          Danmark. Vi sælger et kurateret udvalg i vores fysiske lagersalg.
        </p>
        <Button text="LÆS MERE HER" variant="primaery-btn" href="/about" />
      </div>
      <img
        src="/src/assets/agoodcaseteam.jpg"
        alt="et billede af mændene bag a good case"
      />
    </section>
    <Banner />
    <section class="grid_layout_about">
      <div>
        <h2>VED DU IKKE HVILKE ØL DU SKAL VÆLGE?</h2>
        <p>
          Smag er forskellig - og en etiket fortæller ikke altid så meget om,
          hvad du faktisk kan lide. men hvis du ved, om du foretrækker noget
          bittert, sødt eller måske en klassisk pilsner, kan vi hjælpe dig med
          at finde de øl, der passer til dig. så guider vi dig her
        </p>
        <Button
          text="FIND DIN ØL HER"
          variant="primaery-btn"
          href="/productlist"
        />
      </div>
      <img
        src="/src/assets/billede-af-ølsortiment.jpg"
        alt="et billede af mændene bag a good case"
      />
    </section>
    <Nyhedsbrev />
  </main>
</Layout>

<Button text="FIND DIN ØL HER" variant="findoel" />
<Button text="LAV DIN EGEN KASSE HER" variant="findoel-green" />
<Button text="SE ALLE NYHEDER" variant="primaery-btn" />
<Button text="LÆS MERE HER" variant="primaery-btn" />
<Button text="SE DEM HER" variant="primaery-btn-green" />
<Button text="VÆLG ANTAL" variant="vaelg-antal" />
<Button text="LÆG I KURV" variant="laeg-i-kurv" />

<style>
  .nyheder-section {
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .allenyhederknap{
 text-align: center;
 margin-bottom: 4rem;
 margin-top: 2rem;
  }

  .nyheder-title {
    text-align: center;
    font-size: 34px;
    margin: 2rem 0 1rem;
    color: #16332d;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
  }

  .nyheder-row {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding: 1rem 0 2rem 3rem;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
  }

  .nyheder-row::-webkit-scrollbar {
    display: none;
  }

  .grid_layout_about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1280px;
    margin: 4rem auto;
  }

  .grid_layout_about img {
    width: 100%;
    height: auto;
  }

  .grid_layout_about p {
    line-height: 2;
    margin-bottom: 4rem;
  }

  @media (max-width: 900px) {
    .grid_layout_about {
      grid-template-columns: 1fr;
    }
  }
</style>