---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Pcard from "../components/Pcard.astro";
const endpoint = "https://tugawxiltrjylrrkyipn.supabase.co/rest/v1/products";
const options = {
  headers: {
    apikey: "sb_publishable__6zAgnY-J0PumwueqpD5qA_eF8nRnHo",
  },
};
const data = await fetch(endpoint, options).then((response) => response.json());

// console.log(data);
---

<Layout>
  <h3>Products</h3>

 <section class="shop_layout">
  <aside class="filters">
    <button class="filter_btn" data-type="Alle">
      <span>ØL TYPER</span>
      <span>⌄</span>
    </button>

    <button class="filter_btn" data-sort="acc">
      <span>PRIS</span>
      <span>⌄</span>
    </button>

    <button class="filter_btn">
      <span>BRANDS</span>
      <span>⌄</span>
    </button>

    <button class="filter_btn">
      <span>KASSER</span>
      <span>⌄</span>
    </button>

    <button class="filter_btn">
      <span>ØL FARVE</span>
      <span>⌄</span>
    </button>
  </aside>

  <section class="products">
    <section class="Plist">
      {data.map((product) => <Pcard {product} />)}
    </section>
  </section>
</section>
  <!-- <section class="Plist">
    {data.map((product) => product.type == "Stout" && <Pcard {product} />)}
  </section>
  <section class="Plist">
    {data.map((product) => product.type == "IPA" && <Pcard {product} />)}
  </section> -->
</Layout>

<style>
 

.shop_layout {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 0rem;
  padding: 4rem 3rem;
  align-items: start;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 200px;
  justify-self: start;
}

.filter_btn {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #16332d;
  padding: 0.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #16332d;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-align: left;
}

.filter_btn span:last-child {
  font-size: 20px; /* mindre pil */
  display: flex;
  align-items: center; 
}

.products {
  width: 100%;
   margin-left: -2rem;
}

 .Plist {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 2rem;
}
}
</style>

<script>
  //@ts-nocheck

  // FILTRER
  document
    .querySelectorAll("#buttons button")
    .forEach((button) => button.addEventListener("click", filtrer));

  function filtrer(e) {
    const cards = document.querySelectorAll(".Pcard");
    const valgttype = e.target.dataset.type;
    cards.forEach((card) => {
      if (card.dataset.type == valgttype || valgttype == "Alle") {
        card.classList.remove("hide");
      } else {
        card.classList.add("hide");
      }
    });
  }

  // SORTER
  document
    .querySelectorAll("#sort_buttons button")
    .forEach((button) => button.addEventListener("click", sorter));

  function sorter(e) {
    const valgtdir = e.target.dataset.sort;
    const container = document.querySelector(".Plist");
    const cards = document.querySelectorAll(".Pcard");
    container.textContent = "";
    let newList;
    if (valgtdir == "acc") {
      newList = [...cards].sort(
        (firstItem, secondItem) =>
          firstItem.dataset.price - secondItem.dataset.price,
      );
    } else {
      newList = [...cards].sort(
        (firstItem, secondItem) =>
          secondItem.dataset.price - firstItem.dataset.price,
      );
    }
    newList.forEach((card) => container.append(card));
  }
</script>
