---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Pcard from "../components/Pcard.astro";
const endpoint = "https://tugawxiltrjylrrkyipn.supabase.co/rest/v1/products";
const options = {
  headers: {
    apikey: "sb_publishable__6zAgnY-J0PumwueqpD5qA_eF8nRnHo",
  },
};
const data = await fetch(endpoint, options).then((response) => response.json());

// console.log(data);
---

<Layout>
  <h2>Products</h2>

  <section id="buttons">
    <button data-type="Alle">Alle</button>
    <button data-type="Weissbier">Weissbier</button>
    <button data-type="Stout">Stout</button>
    <button data-type="IPA">IPA</button>
  </section>

  <section id="sort_buttons">
    <button data-sort="acc">Lav til høj pris</button>
    <button data-sort="dec">Høj til lav pris</button>
  </section>

  <section class="Plist">
    {data.map((product) => <Pcard {product} />)}
  </section>
  <!-- <section class="Plist">
    {data.map((product) => product.type == "Stout" && <Pcard {product} />)}
  </section>
  <section class="Plist">
    {data.map((product) => product.type == "IPA" && <Pcard {product} />)}
  </section> -->
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
</style>

<script>
  //@ts-nocheck

  // FILTRER
  document
    .querySelectorAll("#buttons button")
    .forEach((button) => button.addEventListener("click", filtrer));

  function filtrer(e) {
    const cards = document.querySelectorAll(".Pcard");
    const valgttype = e.target.dataset.type;
    cards.forEach((card) => {
      if (card.dataset.type == valgttype || valgttype == "Alle") {
        card.classList.remove("hide");
      } else {
        card.classList.add("hide");
      }
    });
  }

  // SORTER
  document
    .querySelectorAll("#sort_buttons button")
    .forEach((button) => button.addEventListener("click", sorter));

  function sorter(e) {
    const valgtdir = e.target.dataset.sort;
    const container = document.querySelector(".Plist");
    const cards = document.querySelectorAll(".Pcard");
    container.textContent = "";
    let newList;
    if (valgtdir == "acc") {
      newList = [...cards].sort(
        (firstItem, secondItem) =>
          firstItem.dataset.price - secondItem.dataset.price,
      );
    } else {
      newList = [...cards].sort(
        (firstItem, secondItem) =>
          secondItem.dataset.price - firstItem.dataset.price,
      );
    }
    newList.forEach((card) => container.append(card));
  }
</script>
