---
import Button from "../components/Button.astro";
---

<div class="content">
  <h2>Vil du blande din egen kasse?</h2>
  <p class="subtitle">
    MIX SPECIAL ØL <br />
    Mix og match kassen efter dine fortrukne øl, eller hvis du gerne vil prøve nogle
    helt nye smage
  </p>
  <Button text="LAV DIN EGEN KASSE HER" variant="findoel-green" />
</div>

<style>
  .content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffd4f0;
  }

  .subtitle {
    color: #16332d;
    font-size: 18px;
    margin: 30px 0;
    line-height: 1.2;
  }
</style>
